.chat-top{
	background-color: transparent;
	height: 10%;
}
.chat-header {
	text-align: center;
	background-color: white;
}

.chat-header img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    height: 20%;
}

.chat-messages{
	height: 50%;
	
}

.chat-container {
	overflow-y: auto;
	overflow-x: hidden;
	margin-top: -1.5%;
	border-top: solid;
	border-top-color: darkred;
	background-color: white;
	width: 100%;
	height: 100%;
	padding-top: 2%;
	border-bottom: solid;
	border-bottom-color: #cccccc;
	border-bottom-width: 3px;
}

.message-container img {
	display: inline;
	border-radius: 10%;
	width: 10%;
    height: 10%;
    max-width: 2.5vw;
   max-height: 5vh;
}

.testing {
	height: 100%;
}

.message {
	clear: both;
	display: inline-block;
	margin-left: 2%;
	margin-right: 2%;
	border-radius: 1px;
	padding-top: 1%;
	padding-bottom: 1%;
	padding-left: 1.5%;
	padding-right: 1.5%;
	margin-bottom: 0.7%;
	font-size: 0.9em;
	max-width: 50%;
}

.user-message {
	padding-right: 3%;
}

.user-message p {
	background-color: darkred;
	color: white;
	float: right;
}

.user-message img {
	float: right;
}

.conversant-message {
	padding-left: 3%;
}

.conversant-message p {
	background-color: lightgrey;
	color: black;
	float: left;
}

.conversant-message img {
	float: left;
}

.chat-input-container {
	background-color: white;
	height: 100%;
}

.chat-input {
	background-color: white;
	border-top: 0.5px solid lightgrey;
	width: 100%;
	height: 100%;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.chat-input textarea {
	outline: none;
	resize: none;
	width: 100%;
	height: 100%;
	font-size: 0.8em;
	border-color: transparent;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.chat-input textarea:selected {}

#chatWithInfo {
	margin-top: 2%;
    color: darkred;
}