body {
	background-color: #F6F6F6;
}

.red-rect-bg {
    background-color: darkred;
	border-radius: 20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.red-rect-bg span {
	color: white;
}

.red-rect-bg p {
	color: white;
}

.red-text {
	color: darkred;
}

.white-rect-bg {
    background-color: white;
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.box-label {
	color: darkred;
	padding-left: 3%;
	padding-top: 2%;
}

.event-list .red-rect-bg {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.event-list .white-rect-bg {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.event-date {
	text-align: center;
	padding-top: 15px;
	padding-bottom: 5px;
	line-height: 80%;
}

.event-date .date {
	font-size: 1.2em;
}

.event-date .month {
	font-size: 0.6em;
}

.event-title {
	display: table;
	height: 56px;
	padding-left: 8%;
	padding-right: 5%;
	align-content: center;
	font-size: 0.7em;
}

.event-title p {
	display: table-cell;
	vertical-align: middle;
}

.welcome {
	line-height: 2px;
	padding-top: 5%;
	padding-left: 5%;
	padding-bottom: 3%;
	height: 100%;
}

.welcome .welcome-msg-count {
	font-size: 0.7em;
}

.update {
	padding-left: 5%;
}

.update img {
	width: 100%;
}

.update-title {
	font-size: 0.7em;
}

.update-date {
	font-size: 0.7em;
	color: grey;
	line-height: 2px;
}

.announcement {
	padding-bottom: 2%;
	padding-left: 5%;
	line-height: 2px;
}

.announcement img {
	margin-top: -10px;
}

.announcement-title {
	font-size: 0.7em;
}

.announcement-des {
	font-size: 0.7em;
	color: grey;
}

.announcement-datetime {
	font-size: 0.7em;
	color: grey;
}

#chatWithInfo {
	margin-top: 2%;
	color: darkred;
}

.chat-container {
	overflow-y: auto;
	overflow-x: hidden;
	margin-top: -1.5%;
	border-top: solid;
	border-top-color: darkred;
	background-color: white;
	width: 100%;
	height: 100%;
	padding-top: 2%;
}

.message-container img {
	display: inline;
	border-radius: 50%;
	width: 80px;
	height: 80px;
}

.message {
	clear: both;
	display: inline-block;
	margin-left: 2%;
	margin-right: 2%;
	border-radius: 10px;
	padding-top: 0.5%;
	padding-bottom: 0.5%;
	padding-left: 1.5%;
	padding-right: 1.5%;
	margin-bottom: 0.7%;
	font-size: 0.9em;
	max-width: 50%;
}

.user-message {
	padding-right: 3%;
}

.user-message p {
	background-color: darkred;
	color: white;
	float: right;
}

.user-message img {
	float: right;
}

.conversant-message {
	padding-left: 3%;
}

.conversant-message p {
	background-color: lightgrey;
	color: black;
	float: left;
}

.conversant-message img {
	float: left;
}

.chat-input {
	background-color: white;
	border-top: 0.5px solid lightgrey;
	width: 100%;
	height: 100%;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.chat-input textarea {
	outline: none;
	resize: none;
	width: 100%;
	height: 100%;
	font-size: 0.8em;
	border-color: transparent;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.chat-input textarea:selected {}