body {
  background-color: #f6f6f6;
}

.red-text {
  color: #b12226;
}

.link-glow {
  color: #8aa352;
  text-shadow: 0px 1.5px 5px rgb(255, 255, 255);
  font-size: 1.3em;
  cursor: pointer;
}

.box-label {
  color: #b12226;
  padding-left: 3%;
  padding-top: 5%;
}

.chart-title {
  color: rgb(66, 66, 66);
  padding-left: 3%;
  padding-top: 2%;
  font-size: 0.8em;
}

.event-list .red-rect-bg {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.event-list .white-rect-bg {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.event-date {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 5px;
  line-height: 80%;
  height: 7vh;
}

.event-date .date {
  font-size: 1.2em;
}

.event-date .month {
  font-size: 0.6em;
}

.event-title {
  display: table;
  height: 7vh;
  padding-left: 8%;
  padding-right: 5%;
  align-content: center;
  font-size: 0.9em;
}

.event-title p {
  display: table-cell;
  vertical-align: middle;
}

.welcome {
  font-size: 1.3em;
  line-height: 4px;
  padding-top: 5%;
  padding-left: 5%;
  padding-bottom: 3%;
  height: 100%;
}

.welcome .welcome-msg-count {
  font-size: 0.7em;
}

.update {
  padding-left: 5%;
  height: 11vh;
}

.update-list {
  padding-top: 10px;
}

.update img {
  width: 100%;
}

.update-title {
  font-size: 0.9em;
}

.update-date {
  font-size: 0.9em;
  color: grey;
  line-height: 2px;
}

.announcement {
  padding-bottom: 2%;
  padding-left: 10px;
  line-height: 6px;
  height: 10vh;
}

.announcement-list {
  padding-top: 10px;
}

.announcement img {
  margin-top: -10px;
}

.announcement-title {
  padding-left: 10px;
  font-size: 0.9em;
}

.announcement-des {
  padding-left: 10px;
  font-size: 0.9em;
  width: 100%;
  color: grey;
}

.announcement-datetime {
  padding-left: 10px;
  font-size: 0.8em;
  color: grey;
}

#chatWithInfo {
  margin-top: 2%;
  color: darkred;
}

.chat-container {
  overflow-y: auto;
  overflow-x: hidden;
  margin-top: -1.5%;
  border-top: solid;
  border-top-color: darkred;
  background-color: white;
  width: 100%;
  height: 100%;
  padding-top: 2%;
}

.message-container img {
  display: inline;
  border-radius: 50%;
  width: 80px;
  height: 80px;
}

.message {
  clear: both;
  display: inline-block;
  margin-left: 2%;
  margin-right: 2%;
  border-radius: 10px;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  padding-left: 1.5%;
  padding-right: 1.5%;
  margin-bottom: 0.7%;
  font-size: 0.9em;
  max-width: 50%;
}

.user-message {
  padding-right: 3%;
}

.user-message p {
  background-color: darkred;
  color: white;
  float: right;
}

.user-message img {
  float: right;
}

.conversant-message {
  padding-left: 3%;
}

.conversant-message p {
  background-color: lightgrey;
  color: black;
  float: left;
}

.conversant-message img {
  float: left;
}

.chat-input {
  background-color: white;
  border-top: 0.5px solid lightgrey;
  width: 100%;
  height: 100%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.chat-input textarea {
  outline: none;
  resize: none;
  width: 100%;
  height: 100%;
  font-size: 0.8em;
  border-color: transparent;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.chat-input textarea:selected {
}
