@font-face {
	font-family: Avenir;
	src: url(fonts/AvenirLTStd-Book.otf);
}

body {
	margin: 0px auto;
	padding: 0px;
	height: 100%;
	width: 100%;
	font-family: Avenir;
}

.center{
	margin: auto;
	text-align: center;
}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

.bold{
	font-weight: bold;
}

.no-padding-left {
	padding-left: 0;
}

.no-padding-right {
	padding-right: 0;
}

.row-with-padding {
	padding-bottom: 3%;
}