<!-- CHAT BOX -->
<div class="w3-sidebar w3-bar-block w3-border-right" style="display:none;width:25%;right:0; height: 100%; background-color: transparent;"
    id="chatBox">
    <div class="row chat-top">
    </div>
    <!--CHATBOX HEADER-->
    <button onclick="w3_close()" class="message-count" id="close-chat">
        <span class="fa fa-comment" id="close-chat-bubble">
        </span>
    </button>
    <div class="chat-header">
        <div class="row">
            <span id="contact-btn">See all Messages</span>
            <img src="img/ppapi.PNG" />
        </div>
        <div class="row" style="text-align: center;">
            <div class="col-lg-4"></div>
            <div class="col-lg-4">
                <p id="chatWithInfo">PRC Chat</p>
            </div>
            <div class="col-lg-4"></div>
        </div>
    </div>
    <!--MAIN CHAT CONTAINER-->
    <div class="main-chat-container" style="display:none">
        <!--CHAT MESSAGES-->
        <div class="row chat-messages">
            <div class="col-sm-12">
                <div class="chat-container">
                    <div class="row message-container conversant-message">
                        <div class="col-sm-1">
                            <img class="img-responsive" src="img/face.png">
                        </div>
                        <div class="col-sm-7 messages">
                        </div>
                    </div>
                    <div class="row message-container user-message">
                        <div class="col-sm-4"></div>
                        <div class="col-sm-7 messages">
                        </div>
                        <div class="col-sm-1">
                            <img class="img-responsive" src="img/face.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--CHAT INPUT-->
        <div class="row chat-input-container">
            <div class="col-lg-12">
                <div class="chat-input">
                    <textarea id="chat-input-text" placeholder="Type a message..."></textarea>
                </div>
            </div>
        </div>
    </div>
    <!-- CHAT CONTACT LIST -->
    <div class="chat-list-container row">
        <!-- CHAT SEARCH BAR -->
        <div class="row chat-search">
            <div class="col-sm-2">
                <i class="fa fa-search"></i>
            </div>
            <div class="col-sm-10">
                <textarea id="chat-search-box" placeholder="Search for a conversation"></textarea>
            </div>

        </div>
        <!-- CHAT CONTACTS -->
        <div hidden class=" contact-list">
            <div id="contact-main-list">
                <table class="contact-item-container">
                    <!-- COTNACT ITEM -->

                    <tr class="contact-item ">
                        <!-- TIME -->
                        <div class="row">
                            <div class="col-sm-7">
                            </div>
                            <div class="col-sm-5 time">
                                <p>4:15pm</p>
                            </div>

                        </div>
                        <!-- INFO -->
                        <div class="row">
                            <!-- ICON -->
                            <div class="col-sm-3">
                                <img class="img-responsive" src="img/face.png">
                            </div>
                            <!-- DETAILS -->
                            <div class="col-sm-9">
                                <!-- NAME -->
                                <div class="row contact-name">
                                    <p>Caloocan Social Hygene Clinic</p>
                                </div>
                                <!-- LAST MESSAGE -->
                                <div class="row contact-message">
                                    <p>Kamusta naman yung mga...</p>
                                </div>
                            </div>
                        </div>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>