<div class="w3-sidebar w3-bar-block w3-border-right" style="display:none;width:33%;right:0; background-color: transparent;"
	    id="chatBox">
    <div class="row chat-top">
    </div>
    <!--CHATBOX HEADER-->
    <button onclick="w3_close()" class="w3-bar-item w3-large">Close &times;</button>
    <div class="chat-header">
        <div class="row">
            <img src="img/ppapi.PNG" />
        </div>
        <div class="row" style="text-align: center;">
            <div class="col-lg-4"></div>
            <div class="col-lg-4">
                <p id="chatWithInfo">PRC Chat</p>
            </div>
            <div class="col-lg-4"></div>
        </div>
    </div>
    <!--MAIN CHAT CONTAINER-->
    <div class="main-chat-container" style="display:none">
        <!--CHAT MESSAGES-->
        <div class="row chat-messages">
            <div class="col-sm-12">
                <div class="chat-container">
                    <div class="row message-container conversant-message">
                        <div class="col-sm-1">
                            <img class="img-responsive" src="img/face.png">
                        </div>
                        <div class="col-sm-7 messages">
                            <p class="message">asddddddddd</p>
                            <p class="message">asddddddddd</p>
                            <p class="message">asddddddddd</p>
                            <p class="message">asddddddddd</p>
                            <p class="message">asddddddddd</p>
                        </div>
                    </div>
                    <div class="row message-container user-message">
                        <div class="col-sm-4"></div>
                        <div class="col-sm-7 messages">
                            <p class="message">asddddddddd</p>
                            <p class="message">asddddddddd</p>
                            <p class="message">asddddddddd</p>
                            <p class="message">asddddddddd</p>
                            <p class="message">asddddddddd</p>
                        </div>
                        <div class="col-sm-1">
                            <img class="img-responsive" src="img/face.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--CHAT INPUT-->
        <div class="row chat-input-container">
            <div class="col-lg-12">
                <div class="chat-input">
                    <textarea id="chat-input-text" placeholder="Type a message... Enter to send message. Press P to simulate incoming message"></textarea>
                </div>
            </div>
        </div>
    </div>
    <!-- CHAT CONTACT LIST -->
    <div class="chat-list-container row">
        <!-- CHAT SEARCH BAR -->
        <div class="row chat-search">
            <i class="fa fa-search"></i>
            <p>Search for a conversation</p>
        </div>
        <!-- CHAT CONTACTS -->
        <div class="row contact-list">
            <!-- COTNACT ITEM -->
            <div class="contact-item">
                <!-- TIME -->
                <div class="row">
                    <div class="col-sm-9">
                    </div>
                    <div class="col-sm-3 time">
                        <p>4:15pm</p>
                    </div>

                </div>
                <!-- INFO -->
                <div class="row">
                    <!-- ICON -->
                    <div class="col-sm-4">
                        <img class="img-responsive" src="img/face.png">
                    </div>
                    <!-- DETAILS -->
                    <div class="col-sm-8">
                        <!-- NAME -->
                        <div class="row contact-name">
                            <p>Caloocan Social Hygene Clinic</p>
                        </div>
                        <!-- LAST MESSAGE -->
                        <div class="row contact-message">
                            <p>Kamusta naman yung mga...</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="contact-item">
                <!-- TIME -->
                <div class="row">
                    <div class="col-sm-9">
                    </div>
                    <div class="col-sm-3 time">
                        <p>4:15pm</p>
                    </div>

                </div>
                <!-- INFO -->
                <div class="row">
                    <!-- ICON -->
                    <div class="col-sm-4">
                        <img class="img-responsive" src="img/face.png">
                    </div>
                    <!-- DETAILS -->
                    <div class="col-sm-8">
                        <!-- NAME -->
                        <div class="row contact-name">
                            <p>Caloocan Social Hygene Clinic</p>
                        </div>
                        <!-- LAST MESSAGE -->
                        <div class="row contact-message">
                            <p>Kamusta naman yung mga...</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="contact-item">
                <!-- TIME -->
                <div class="row">
                    <div class="col-sm-9">
                    </div>
                    <div class="col-sm-3 time">
                        <p>4:15pm</p>
                    </div>

                </div>
                <!-- INFO -->
                <div class="row">
                    <!-- ICON -->
                    <div class="col-sm-4">
                        <img class="img-responsive" src="img/face.png">
                    </div>
                    <!-- DETAILS -->
                    <div class="col-sm-8">
                        <!-- NAME -->
                        <div class="row contact-name">
                            <p>Caloocan Social Hygene Clinic</p>
                        </div>
                        <!-- LAST MESSAGE -->
                        <div class="row contact-message">
                            <p>Kamusta naman yung mga...</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="contact-item">
                <!-- TIME -->
                <div class="row">
                    <div class="col-sm-9">
                    </div>
                    <div class="col-sm-3 time">
                        <p>4:15pm</p>
                    </div>

                </div>
                <!-- INFO -->
                <div class="row">
                    <!-- ICON -->
                    <div class="col-sm-4">
                        <img class="img-responsive" src="img/face.png">
                    </div>
                    <!-- DETAILS -->
                    <div class="col-sm-8">
                        <!-- NAME -->
                        <div class="row contact-name">
                            <p>Caloocan Social Hygene Clinic</p>
                        </div>
                        <!-- LAST MESSAGE -->
                        <div class="row contact-message">
                            <p>Kamusta naman yung mga...</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>