<footer class="page-footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2">
                <div class="contact-info">
                    <div class="emails">
                        <span>plhiv.response@gmail.com</span>
                        <span>pinoy.plus@yahoo.com</span>
                    </div>
                    <div class="number">
                        <span>(02) 743 7293</span>
                    </div>
                    <div class="address">
                        <span>1965-B JRB Building, Anacleto Street, Sta Cruz, Manila</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-7"></div>
            <div class="col-sm-3">
                <div class="row">
                    <div class="col-sm-6">
                        <span>Follow us on our social media accounts</span>
                    </div>
                    <div class="col-sm-2">
                        <a href="https://twitter.com/PlusAdvocacy">
                            <img class="img-responsive twitter" src="img/twitter.png" height=55 width=60>
                        </a>
                    </div>
                    <div class="col-sm-1"></div>
                    <div class="col-sm-2">
                        <a href="https://www.facebook.com/PinoyPlusAssociationInc/">
                            <img class="img-responsive facebook" src="img/fb.png" height=50 width=35>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="copyright">
                            <p class="copyright-text">Pinoy Plus Advocacy Pilipinas Inc. &copy 2018</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>