<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="#">
        <img class="img-responsive" src="img/logo.png" height=50 width=150>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li id="whatIsPrc" class="nav-item-custom <% if(pageName == 'about'){%> nav-item-selected <%}%>">
                <span href="#">WHAT IS PRC</span>
            </li>
            <li id="announcements" class="nav-item-custom <% if(pageName == 'announcements'){%> nav-item-selected <%}%>">
                <span href="#">ANNOUNCEMENTS</span>
            </li>
            <li id="database" class="nav-item-custom <% if(pageName == 'database'){%> nav-item-selected <%}%>">
                <span href="#">DATABASE</span>
            </li>
            <li id="feedback" class="nav-item-custom <% if(pageName == 'feedback'){%> nav-item-selected <%}%>">
                <span href="#">FEEDBACK</span>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li>
                <form class="form-inline search-bar-custom">
                    <input type="search" placeholder="Search" aria-label="Search">
                </form>
            </li>
            <li>
                <div class="account">
                    <img class="img-responsive" src="img/face.png" height=55 width=55>
                    <span class="fa fa-caret-down" data-toggle="dropdown"></span>
                    <div class="dropdown account-dropdown">
                        <ul class="dropdown-menu account-dropdown-menu">
                            <li type="button" data-toggle="modal" data-target="#profileModal">
                                <span class="profile-edit">PRC</span>
                            </li>
                            <li>
                                <span>Settings</span>
                            </li>
                            <li>
                                <span>Sign Out</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
            <li>
                <div class="message-count">
                    <a class="w3-right" onclick="w3_open()">
                        <span class="fa fa-comment">
                            <span class="message-count-text">5</span>
                        </span>
                    </a>
                </div>
            </li>
        </ul>

    </div>

    <div class="modal fade" id="profileModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Profile</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-2">
                                <img class="img-responsive" src="img/ppapi.png" height=100 width=100>
                            </div>
                            <div class="col-lg-10">
                                <div class="content">
                                    <div class="row row-nobottom-margin">
                                        <div class="col-lg-12">
                                            <div id = "edit" class="action data">
                                                <span class="fa fa-pencil icon"> </span>
                                                <span class="label">Edit</span>
                                            </div>
                                            <div id = "done" class = "action data-edit hide">
                                                <span class="fa fa-check icon"> </span>
                                                <span class="label">Done</span>
                                            </div>
                                        </div>
                                    </div>
                                    <form action = "">
                                        <div class = "form-group">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class = "title">
                                                        <div class = "data">
                                                            <span>PLHIV Response Center (PRC)</span>
                                                        </div>
                                                        <div class = "data-edit hide">
                                                            <input type="text" class="form-control" id="titleEdit" placeholder="Enter organization name">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <p id = "adminLabel">PRC Administrators</p>
                                                    <div class="admins data">
                                                        <div class="names">
                                                            <span>Richard Bragado</span>
                                                            <span>Lean Aseron</span>
                                                            <span>Noel Quinto</span>
                                                            <span>Rommel Legwes</span>
                                                            <span>Benjamin Rivera</span>
                                                            <span>Kai Ledesma</span>
                                                        </div>
                                                    </div>
                                                    <div class = "admins data-edit hide">
                                                        <input type="hidden" name="count" value="1" />
                                                        <div class="control-group admin-fields">
                                                            <div class="controls"> 
                                                                <div class="input-append">
                                                                    <div id="admin-field">
                                                                        <input autocomplete="off" class="input form-control" id="admin-field1" name="prof1" type="text" placeholder="Enter admin name" data-items="8"/>
                                                                        <button id="b1" class="btn add-more" type="button">+</button>
                                                                    </div>
                                                                </div>
                                                            <br>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="contact-info">
                                                        <p>Contact Information</p>
                                                        <div class="row">
                                                            <div class="col-lg-1">
                                                                <img class="img-responsive icon" src="img/phone.png" height=30 width=30>
                                                            </div>
                                                            <div class="col-lg-11">
                                                                <div class = "contact-num">
                                                                    <div class = "data">
                                                                        <span>(02) 743 7293</span>
                                                                    </div>
                                                                    <div class = "data-edit hide">
                                                                        <input type="tel" class="form-control" id="numberEdit" placeholder="Enter contact number">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-lg-1">
                                                                <img class="img-responsive icon" src="img/email.png" height=30 width=35>
                                                            </div>
                                                            <div class="col-lg-11">
                                                                <div class = "contact-email">
                                                                    <div class = "data">
                                                                        <span>plhiv.response@gmail.com</span>
                                                                    </div>
                                                                    <div class = "data-edit hide">
                                                                        <input type="email" class="form-control" id="emailEdit" placeholder="Enter contact email">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-lg-1">
                                                                <img class="img-responsive icon" src="img/location.png" height=40 width=25>
                                                            </div>
                                                            <div class="col-lg-11">
                                                                <div class = "contact-address">
                                                                    <div class = "data">
                                                                        <span>1965-B JRB Building, Anacleto Street, Sta. Cruz, Manila, Metro Manila</span>
                                                                    </div>
                                                                    <div class = "data-edit hide">
                                                                        <input type="text" class="form-control" id="addressEdit" placeholder="Enter contact address">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>