<!DOCTYPE html>
<html>

<head>
	<title>PinoyPlus</title>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<!-- Popper JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
	<!-- Strophe XMPP -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/strophe.js/1.2.15/strophe.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/strophejs-plugins@0.0.7/muc/strophe.muc.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/strophejs-plugins@0.0.7/roster/strophe.roster.js"></script>

	<script src="https://cdn.jsdelivr.net/npm/strophejs-plugins@0.0.7/rsm/strophe.rsm.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/strophejs-plugins@0.0.6/mam/strophe.mam.v0.3.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/strophejs-plugins@0.0.7/archive/strophe.archive.js"></script>
	<!-- <script src=""></script> -->


	<link rel="stylesheet" href="css/global.css">
	<link rel="stylesheet" href="css/homepage.css">
</head>

<body>

	<div hidden>
		<input type="text" value="admin@localhost" id="jid">
		<input type="password" value="12345" id="password">
		<input type="text" value="user1@localhost" id="jid-other">
	</div>
	<nav class="navbar navbar-expand-lg navbar-light">
		<a class="navbar-brand" href="#">
			<img class="img-responsive" src="img/logo.png" height=100 width=100>
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
		    aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item-custom nav-item-selected">
					<span href="#">HOME</span>
				</li>
				<li class="nav-item-custom">
					<span href="#">ABOUT PRC</span>
				</li>
				<li class="nav-item-custom">
					<span href="#">MESSAGES</span>
				</li>
				<li class="nav-item-custom">
					<span href="#">ANNOUNCEMENTS</span>
				</li>
				<li class="nav-item-custom">
					<span href="#">DATABASE</span>
				</li>
				<li class="nav-item-custom">
					<span href="#">MANUAL</span>
				</li>
				<li class="nav-item-custom">
					<span href="#">FEEDBACK</span>
				</li>
			</ul>
			<form class="form-inline search-bar-custom">
				<input type="search" placeholder="Search" aria-label="Search">
			</form>
		</div>
	</nav>

	<div class="container">
		<div class="row home-content">
			<div class="col-lg-3 profile-box">
				<div class="row profile-image center">
					<div class="col-lg-12">
						<img class="img-responsive" src="img/logo.png">
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12 center">
						<span class="glyphicon glyphicon-asterisk"></span>
						<span id="profileName">Angela Pel
							<br>
						</span>
						<span id="profilePosition">Medical Chief Officer</span>
					</div>
				</div>
				<div class="profile-details-cont">
					<div class="row">
						<div class="col-lg-12">
							<span class="profile-details" id="profileNumber">09987654321
								<br>
							</span>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12">
							<span class="profile-details" id="profileEmail">angela_pel@gmail.com
								<br>
							</span>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12">
							<span class="profile-details" id="profileAddress">5729 Palma St. Caloocan, Caloocan
								<br>
							</span>
						</div>
					</div>
				</div>
				<div class="row profile-edit">
					<div class="col-lg-12">
						<button id="edit-profile">Edit Profile</button>
					</div>
				</div>
			</div>
			<div class="col-lg-9 chat-window">
				<div class="row">
					<div class="col-lg-12">
						<h3 id="hospitalName">San Lazaro Hospital</h3>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12">
						<p id="chatWithInfo">Chat with PRC</p>
						<div class="chat-container">
							<div class="row message-container conversant-message">
								<div class="col-lg-1">
									<img class="img-responsive" src="img/face.png">
								</div>
								<div class="col-lg-7 messages">
									<p class="message">asddddddddd</p>
									<p class="message">asddddddddd</p>
									<p class="message">asddddddddd</p>
									<p class="message">asddddddddd</p>
									<p class="message">asddddddddd</p>
								</div>
							</div>
							<div class="row message-container user-message">
								<div class="col-lg-4"></div>
								<div class="col-lg-7 messages">
									<p class="message">asddddddddd</p>
									<p class="message">asddddddddd</p>
									<p class="message">asddddddddd</p>
									<p class="message">asddddddddd</p>
									<p class="message">asddddddddd</p>
								</div>
								<div class="col-lg-1">
									<img class="img-responsive" src="img/face.png">
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12">
						<div class="chat-input">
							<textarea id="chat-input-text" placeholder="Type a message... Enter to send message. Press P to simulate incoming message"></textarea>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>


<script src="js/keycodes.js"></script>
<script src="js/homepage.js"></script>

</html>