<!DOCTYPE html>
<html>

<head>
    <title>PinoyPlus</title>

    <!-- Font Awesome. Used for icons -->
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>

<body>
    <input hidden id="adminAccount" value="<%= adminAccount %>">
    <input hidden id="adminServerUrl" value="<%= adminServerUrl %>">
    <input hidden id="chatServerUrl" value="<%= chatServerUrl %>">
    <input hidden id="chatHost" value="<%= chatHost %>"> Please open the command console to see the progress
</body>

<script src="js/admin.js"></script>
<script src="js/state-init.js"></script>

</html>