body {
  background-color: #f6f6f6;
}

/* [data-toggle="collapse"]:after {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f054";
  transform: rotate(90deg);
  transition: all linear 0.25s;
  float: right;
}
[data-toggle="collapse"].collapsed:after {
  /* transform: rotate(90deg); */
/* } */

.about-tab-group {
  margin-bottom: 10%;
}
.about-tab-group .card {
  padding-left: 3%;
  padding-right: 3%;
}
.about-tab-group .card.collapsed {
  background: linear-gradient(to right, #b02428, #86191f);
  border-radius: 20px;
  margin-bottom: 0.8em;
  border: 0;
  color: white;
}

.about-tab-group .card.collapsed {
  background: linear-gradient(to right, #b02428, #86191f);
  border-radius: 20px;
  margin-bottom: 0.8em;
  border: 0;
  color: white;
}

.about-tab-group .card:not(.collapsed) {
  background: white;
  border-radius: 20px;
  margin-bottom: 0.8em;
  border: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.about-tab-group .card:not(.collapsed) .card-header a {
  color: #b02428;
  font-weight: 600;
}

.about-tab-group .card .card-header a i {
  float: right;
  font-size: 1.4em;
}

.about-tab-group .card-header {
  border: 0px;
  background-color: rgba(0, 0, 0, 0);
}

.card-body {
  padding-top: 0;
  line-height: 1.6em;
}
.card-body h5 {
  padding-top: 0;
  line-height: 1.6em;
}

/* .red-rect-bg {
  background: linear-gradient(#b02428, #86191f);
  border-radius: 20px;
  padding-left: 5%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.red-rect-bg span {
  color: white;
}

.red-rect-bg p {
  color: white;
} */

.red-text {
  color: darkred;
}

.form-start-group {
  font-size: 1.3em;
  color: gray;
  line-height: 4px;
  padding-top: 3%;
  padding-left: 5%;
  padding-bottom: 5%;
  height: 100%;

  background-color: white;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.form-start-group p {
  font-size: 1em;
  color: black;
  line-height: 1.3em;
}

.col-centered {
  float: none;
  margin: 0 auto;
}

.form-input-field {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding: 3px 10px;
  border: 2px solid #b7b7b7;
  -webkit-border-radius: 23px;
  border-radius: 23px;
  -o-text-overflow: clip;
  text-overflow: clip;
}

.box-label {
  color: darkred;
  padding-left: 3%;
  padding-top: 5%;
}

.form-title {
  font-size: 1.3em;
  line-height: 4px;
  padding-top: 3%;
  padding-left: 5%;
  padding-bottom: 1.75%;
  height: 100%;
}
