.service-update {
  padding: 5%;
}

.service-update .description {
  display: inline-block;
  font-size: 0.85em;
}

.service-update .read-more {
  font-size: 0.8em;
}

.service-update .read-more:hover {
  cursor: pointer;
  text-decoration: underline;
}

.anment-list-mf {
  margin-top: 12px;
}

.custom-table th {
  color: grey;
  padding-left: 3%;
}

.anment-description {
  cursor: pointer;
  line-height: 3px;
  padding: 3% !important;
}

.anment-description .selected {
  color: #b12226;
  font-weight: bold;
}

.anment-description .info {
  font-size: 0.8em;
}

.anment-description .title {
  color: rgb(73, 73, 73);
}

.anment-description .title:hover {
  color: #b12226;
}

.read-more:hover {
  text-decoration: underline !important;
}

.post-image {
  margin-left: 20%;
}

.post-description {
  font-size: 0.9em;
}

.post-datetime {
  line-height: 0;
  font-size: 0.8em;
}

#discussionModal .modal-dialog {
  width: 800px;
  border-radius: 20px;
}

#discussionModal .content {
  margin-left: 30px;
}

#discussionModal .title {
  padding-bottom: 10px;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: #b12226;
  font-size: 1.5em;
  color: #b12226;
}
