

.chat-top{
	background-color: transparent;
	height: 5%;
}
.chat-header {
	text-align: center;
	background-color: white;
	border-bottom: solid;
	border-bottom-width: 2px;
	border-bottom-color: #cccccc;
	border-top-left-radius: 20px;
	box-shadow: 2px 2px 5px 2px #cccccc
}

.chat-header img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    height: 20%;
}

.main-chat-container{
	height: 78.5%;
	overflow-x: hidden;
	overflow-y: hidden;
}

.chat-messages{
	height: 80%;
	
}

.chat-container {
	overflow-y: auto;
	overflow-x: hidden;
	margin-top: -1.5%;
	border-top: solid;
	border-top-color: darkred;
	background-color: white;
	width: 100%;
	height: 100%;
	padding-top: 2%;
	border-bottom: solid;
	border-bottom-color: #cccccc;
	border-bottom-width: 3px;
}

.message-container img {
	display: inline;
	border-radius: 10%;
	width: 10%;
    height: 10%;
    max-width: 2.5vw;
   max-height: 5vh;
}

.testing {
	height: 100%;
}

.message {
	clear: both;
	display: inline-block;
	margin-left: 2%;
	margin-right: 2%;
	border-radius: 1px;
	padding-top: 1%;
	padding-bottom: 1%;
	padding-left: 1.5%;
	padding-right: 1.5%;
	margin-bottom: 0.7%;
	font-size: 0.9em;
	max-width: 50%;
}

.user-message {
	padding-right: 3%;
}

.user-message p {
	background-color: darkred;
	color: white;
	float: right;
}

.user-message img {
	float: right;
}

.conversant-message {
	padding-left: 3%;
}

.conversant-message p {
	background-color: lightgrey;
	color: black;
	float: left;
}

.conversant-message img {
	float: left;
}

.chat-input-container {
	background-color: white;
	height: 40%;
	margin-top: -4%;
	box-shadow: 2px 2px 5px 2px #cccccc;
	border-top: 1px #ccc;
	overflow-y: hidden;
}

.chat-input {
	background-color: white;
	border-top: 0.5px solid lightgrey;
	width: 100%;
	height: 100%;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.chat-input textarea {
	outline: none;
	resize: none;
	width: 100%;
	height: 100%;
	font-size: 0.8em;
	border-color: transparent;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

#chatWithInfo {
	margin-top: 2%;
    color: darkred;
}

.chat-list-container{
	background-color: #ccc;
	height: 78.5%;
	display: block;
}

.chat-search{
	background-color: white;
	border-bottom: solid;
	border-bottom-width: 1px;
	border-bottom-color: #cccccc;
	max-height: 8%;
	width: 100%;
	padding-left: 2.5vw;
}	

.contact-item{
	background-color: white;
	width: 110%;
	/* padding-left: 2.5vw; */
	overflow-y: scroll;
	overflow-x: hidden;
	margin-top: -1.5%;
	padding-bottom: -100%;
	align: top;
	display: inline-block;
}

.contact-item img {
	border-radius: 50%;
    max-width: 70%;
    max-height: 100%;
	padding-left: 10%;
	padding-right: 10%;
	margin-left: 30%;
	margin-top: -19%;
}
.contact-list{
	height: 95%;
	width: 100%;
}


.contact-time{
	font-size: 0.6em;
	text-align: center;
	padding-right: 5%;
	padding-top: 2%;
}

.contact-name {
	font-size: 1em;
	text-align: left;
	margin-top: -7%;
}

.contact-message {
	font-size: 1em;
	text-align: right;
	color: gray;
	margin-top: -5%;
}

#close-chat {
	background-color: transparent;
	border: transparent;
	height:  1px;
	margin-top: -46px;
	margin-right: -40px;
	position: absolute;
}
#close-chat-bubble {
	margin-top: -180px;
	margin-right: -567px;
}

#chatBox{
	overflow-x: hidden;
	height: 100%;
	box-shadow: 3px 53px 5px 5px #cccccc
}

#chat-search-box {
	resize: none;
	border: none;
	height: 40px;
	width: 400px;
}

#contact-btn {
	float: left;
	margin-left: 5%;
	margin-top: 2%;
}

.search-icon {
	text-align: center;
	height: 90px;
	width: 90px;
}