@font-face {
  font-family: Avenir;
  src: url(../fonts/AvenirLTStd-Book.otf);
}

@font-face {
  font-family: Avenir;
  src: url(../fonts/Avenir-Bold.ttf);
  font-weight: bold;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

body {
  margin: 0px auto;
  padding: 0px;
  height: 100%;
  width: 100%;
  font-family: Avenir;
  background-color: #f7f8f8 !important;
}

.container-with-spacing {
  margin-top: 40px;
  margin-bottom: 100px;
}

.center {
  margin: auto;
  text-align: center;
}

.no-gutter > [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}

.bold {
  font-weight: bold;
}

.no-padding-left {
  padding-left: 0;
}

.no-padding-right {
  padding-right: 0;
}

.row-with-padding {
  padding-bottom: 3%;
}

.row-no-bottom-margin {
  margin-top: 0;
}

.red-rect-bg {
  background: linear-gradient(to right, #b02428, #86191f);
  border-radius: 26.66px;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  -webkit-box-shadow: 2.6666666666666665px 2.6666666666666665px 6.66px 0px
    rgba(0, 0, 0, 0.06);
  -moz-box-shadow: 2.6666666666666665px 2.6666666666666665px 6.66px 0px
    rgba(0, 0, 0, 0.06);
  box-shadow: 2.6666666666666665px 2.6666666666666665px 6.66px 0px
    rgba(0, 0, 0, 0.06);
  color: white;
}

.white-rect-bg {
  background-color: white;
  border-radius: 26.66px;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  -webkit-box-shadow: 2.6666666666666665px 2.6666666666666665px 6.66px 0px
    rgba(0, 0, 0, 0.06);
  -moz-box-shadow: 2.6666666666666665px 2.6666666666666665px 6.66px 0px
    rgba(0, 0, 0, 0.06);
  box-shadow: 2.6666666666666665px 2.6666666666666665px 6.66px 0px
    rgba(0, 0, 0, 0.06);
}

.hide {
  display: none;
}

.pointer {
  cursor: pointer;
}

/* modal styles */

.bg-white {
  background-color: white;
}

.bg-red {
  background: linear-gradient(to right, #b02428, #86191f);
  color: white;
}

.modal {
  margin-top: 20px;
  overflow-y: auto;
}

.modal-content {
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  background-color: transparent;
  overflow: hidden;
}

.modal-footer {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  -webkit-border-bottom-left-radius: 20px;
  -webkit-border-bottom-right-radius: 20px;
  -moz-border-radius-bottomleft: 20px;
  -moz-border-radius-bottomright: 20px;
}

.modal-header {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 40px;
  -webkit-border-top-left-radius: 20px;
  -webkit-border-top-right-radius: 20px;
  -moz-border-radius-topleft: 20px;
  -moz-border-radius-topright: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.modal-header .custom-close {
  content: "X";
  border: none;
  background: none;
  color: white;
  font-size: 2em;
}

.modal-header .custom-close:hover {
  cursor: pointer;
}

.modal-open {
  overflow: auto;
}

.modal-open[style] {
  padding-right: 0px !important;
}

.modal-close[style] {
  padding-right: 0px !important;
}
