@font-face {
	font-family: Avenir;
	src: url(../fonts/AvenirLTStd-Book.otf);
}

body {
	margin: 0px auto;
	padding: 0px;
	height: 100%;
	width: 100%;
	font-family: Avenir;
	background-color: #F7F8F8 !important;
}

.container-with-spacing {
	margin-top: 20px;
	margin-bottom: 20px;
}

.center {
	margin: auto;
	text-align: center;
}

.no-gutter>[class*='col-'] {
	padding-right: 0;
	padding-left: 0;
}

.bold {
	font-weight: bold;
}

.no-padding-left {
	padding-left: 0;
}

.no-padding-right {
	padding-right: 0;
}

.row-with-padding {
	padding-bottom: 3%;
}

.row-no-bottom-margin {
	margin-top: 0;
}

.red-rect-bg {
	background: linear-gradient(to right, #B02428, #86191F);
	border-radius: 26.66px;
	/* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
	-webkit-box-shadow: 2.6666666666666665px 2.6666666666666665px 6.66px 0px rgba(0,0,0,0.06);
	-moz-box-shadow: 2.6666666666666665px 2.6666666666666665px 6.66px 0px rgba(0,0,0,0.06);
	box-shadow: 2.6666666666666665px 2.6666666666666665px 6.66px 0px rgba(0,0,0,0.06);
	color: white;
}

.white-rect-bg {
    background-color: white;
	border-radius: 26.66px;
	/* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
	-webkit-box-shadow: 2.6666666666666665px 2.6666666666666665px 6.66px 0px rgba(0,0,0,0.06);
	-moz-box-shadow: 2.6666666666666665px 2.6666666666666665px 6.66px 0px rgba(0,0,0,0.06);
	box-shadow: 2.6666666666666665px 2.6666666666666665px 6.66px 0px rgba(0,0,0,0.06);
}

.hide {
	display: none;
}