.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 15%;
  display: none;
}

.full {
  height: 100vh;
  display: flex;
  padding-left: 5%;
  padding-right: 5%;
}

.logo-img {
  margin: 20px;
  position: absolute;
}

.login-input {
  margin-bottom: 10px;
}

.link {
  background-color: none;
  color: black;
}

.header-text {
  color: #be1e2d;
  display: none;
  font-size: 49px;
}

.sub-text {
  display: none;
  font-size: 25px;
}

#submit {
  border-radius: 7px;
  outline: 0px;
  background: linear-gradient(to right, #b02428, #86191f);
}

.login-input {
  border-radius: 7px;
}

input[type="user"] {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  outline: none;
}

input[type="user"]:focus {
  box-shadow: 0 0 5px #b02428;
  border: 1px solid #b02428;
}

input[type="password"] {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  outline: none;
}

input[type="password"]:focus {
  box-shadow: 0 0 5px #b02428;
  border: 1px solid #b02428;
}

#login-form {
  display: none;
}
